<div class="px-4 py-5 my-5 text-center bg-dark">
  <h1 class="display-5 fw-bold text-white">wallet conserje</h1>
  <div class="col-lg-5 mx-auto my-4">
    
<!-- As a heading -->
<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>

<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>

<div class="container">
  <!-- Content here -->
</div>
    
</div>